DATABASE_URL="postgresql://postgres:12671@localhost:5432/postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="get_from_supabase"
SUPABASE_SERVICE_ROLE_KEY="get_from_supabase"

## OAuth Configuration
NEXTAUTH_SIGNIN_PATH="/auth/avacxAuth"
GOOGLE_ID="google_id_here"
GOOGLE_SECRET="google_secret_here"

## Payment Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your_stripe_publishable_key_here"
STRIPE_SECRET_KEY="your_stripe_secret_key_here"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret_here"
STRIPE_PRICE_ID="price_id_here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


## env.local additional variables
NEXTAUTH_SECRET=your_generated_secret_here